###### Imports

In [81]:
import requests
import json
import pandas as pd
pd.set_option('display.max_columns', None)

# This file outlines the prep for the age series data from the comp plans.

### First we will create API calls for the population and home value data from the Census Bureau ACS 5 year estimates and decennial census.

###### The data we're curious about comes divided by sex or race - for now we're going to look at sex and then total them together because it's less data to deal with. You are only able to import 50 variables at once, so we're going to do total population and male population together, then female population. Eventually we will join them into one larger dataframe.

In [60]:
#Male 2019 5 Yr
api_key = '24fc7d81b74510d599f702dbd408fb18e1466d81'
url_str= 'https://api.census.gov/data/2019/acs/acs5?get=NAME,GEO_ID,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E&for=county:*&in=state:47&key='+api_key

predicates= {}
get_vars= ["NAME", "GEO_ID",'B01001_001E','B01001_020E','B01001_003E','B01001_004E','B01001_005E','B01001_006E','B01001_007E','B01001_008E','B01001_009E','B01001_010E','B01001_011E','B01001_012E','B01001_013E','B01001_014E','B01001_015E','B01001_016E','B01001_017E','B01001_018E','B01001_019E','B01001_020E','B01001_021E','B01001_022E','B01001_023E','B01001_024E','B01001_025E', 'state']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:*"
male19= requests.get(url_str, params= predicates)

col_names = ['County', 'GEOID','total','mtotal','mu5','m5_9','m10_14','m15_17','m18_19','m20','m21','m22_24','m25_29','m30_34',
            'm35_39','m40_44','m45_49','m50_54','m55_59','m60_61','m62_64','m65_66','m67_69','m70_74','m75_79','m80_84','m85+', 'StateFIPS', 'ind']
male19=pd.DataFrame(columns=col_names, data=male19.json()[1:])
male19['Estimate'] = '2019'
print('Your API call is completed.')

Your API call is completed.

In [45]:
male19.head()

,County,GEOID,total,mtotal,mu5,m5_9,m10_14,m15_17,m18_19,m20,...,m62_64,m65_66,m67_69,m70_74,m75_79,m80_84,m85+,StateFIPS,ind,Estimate
0,"Sumner County, Tennessee",0500000US47165,183437,89689,5759,6294,6326,3930,2169,788,...,3300,2079,2647,3469,2246,1255,995,47,165,2019
1,"Trousdale County, Tennessee",0500000US47169,10231,5987,418,266,248,206,368,106,...,137,146,108,144,69,53,77,47,169,2019
2,"Clay County, Tennessee",0500000US47027,7654,3669,157,289,168,88,46,83,...,160,100,118,297,193,138,7,47,027,2019
3,"Shelby County, Tennessee",0500000US47157,936374,444834,33572,31264,34731,19532,11940,6730,...,16109,8804,11552,13142,8671,4649,4035,47,157,2019
4,"Henderson County, Tennessee",0500000US47077,27977,13721,822,1201,828,572,366,162,...,589,429,423,545,456,213,147,47,077,2019

In [58]:
#pull for decennial estimates
range = ['00', '10']

male_appended = [] #create empty list
for i in range:
    api_key = '24fc7d81b74510d599f702dbd408fb18e1466d81'
    url_str= 'https://api.census.gov/data/20{}/dec/sf1?get=NAME,GEO_ID,P012001,P012002,P012003,P012004,P012005,P012006,P012007,P012008,P012009,P012010,P012011,P012012,P012013,P012014,P012015,P012016,P012017,P012018,P012019,P012020,P012021,P012022,P012023,P012024,P012025&for=county:*&in=state:47&key='.format(i)+api_key
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'P012001','P012001','P012002','P012003','P012004','P012005','P012006','P012007','P012008','P012009','P012010','P012011','P012012','P012013','P012014','P012015','P012016','P012017','P012018','P012019','P012020','P012021','P012022','P012023','P012024','P012025', 'state']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "state:*"
    maledec= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','total','mtotal','mu5','m5_9','m10_14','m15_17','m18_19','m20','m21','m22_24','m25_29','m30_34',
            'm35_39','m40_44','m45_49','m50_54','m55_59','m60_61','m62_64','m65_66','m67_69','m70_74','m75_79','m80_84','m85+', 'StateFIPS', 'ind']
    maledec=pd.DataFrame(columns=col_names, data=maledec.json()[1:])
    maledec['Estimate'] = '20{}'.format(i) 
    male_appended.append(maledec)
    
male_appended = pd.concat(male_appended)
maledec = male_appended
print('Your API call is completed')

Your API call is completed

In [62]:
maledec.head(2)

,County,GEOID,total,mtotal,mu5,m5_9,m10_14,m15_17,m18_19,m20,...,m62_64,m65_66,m67_69,m70_74,m75_79,m80_84,m85+,StateFIPS,ind,Estimate
0,"Anderson County, Tennessee",0500000US47001,71330,34009,2026,2462,2474,1489,862,375,...,929,515,804,1276,1110,614,371,47,001,2000
1,"Bedford County, Tennessee",0500000US47003,37586,18645,1370,1384,1361,791,558,308,...,424,265,382,547,400,239,145,47,003,2000

In [46]:
#female19
api_key = '24fc7d81b74510d599f702dbd408fb18e1466d81'
url_str= 'https://api.census.gov/data/2019/acs/acs5?get=NAME,GEO_ID,B01001_026E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E&for=county:*&in=state:47&key='+api_key

predicates= {}
get_vars= ["NAME","GEO_ID",'B01001_026E','B01001_027E','B01001_028E','B01001_029E','B01001_030E','B01001_031E','B01001_032E','B01001_033E','B01001_034E','B01001_035E','B01001_036E','B01001_037E','B01001_038E','B01001_039E','B01001_040E','B01001_041E','B01001_042E','B01001_043E','B01001_044E','B01001_045E','B01001_046E','B01001_047E','B01001_048E','B01001_049E', 'state']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:*"
female19= requests.get(url_str, params= predicates)

col_names = ['County','GEOID','ftotal', 'fu5','f5_9','f10_14','f15_17','f18_19','f20','f21','f22_24','f25_29','f30_34',
            'f35_39','f40_44','f45_49','f50_54','f55_59','f60_61','f62_64','f65_66','f67_69','f70_74','f75_79','f80_84','f85+','StateFIPS','ind']
female19=pd.DataFrame(columns=col_names, data=female19.json()[1:])
female19['Estimate'] = '2019'

In [63]:
female19.head(2)

,County,GEOID,ftotal,fu5,f5_9,f10_14,f15_17,f18_19,f20,f21,...,f62_64,f65_66,f67_69,f70_74,f75_79,f80_84,f85+,StateFIPS,ind,Estimate
0,"Sumner County, Tennessee",0500000US47165,93748,5395,6292,5788,3772,1902,931,700,...,3298,2134,2971,4111,2845,1597,2192,47,165,2019
1,"Trousdale County, Tennessee",0500000US47169,4244,177,312,208,95,19,16,36,...,158,207,151,157,159,70,84,47,169,2019

In [66]:
#pull for decennial estimates
range = ['00', '10']

female_appended = [] #create empty list
for i in range:
    api_key = '24fc7d81b74510d599f702dbd408fb18e1466d81'
    url_str= 'https://api.census.gov/data/20{}/dec/sf1?get=NAME,GEO_ID,P012026,P012027,P012028,P012029,P012030,P012031,P012032,P012033,P012034,P012035,P012036,P012037,P012038,P012039,P012040,P012041,P012042,P012043,P012044,P012045,P012046,P012047,P012048,P012049&for=county:*&in=state:47&key='.format(i)+api_key
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'P012026','P012027','P012028','P012029','P012030','P012031','P012032','P012033','P012034','P012035','P012036','P012037','P012038','P012039','P012040','P012041','P012042','P012043','P012044','P012045','P012046','P012047','P012048','P012049','state']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "state:*"
    femaledec= requests.get(url_str, params= predicates)
    col_names = ['County','GEOID','ftotal', 'fu5','f5_9','f10_14','f15_17','f18_19','f20','f21','f22_24','f25_29','f30_34',
            'f35_39','f40_44','f45_49','f50_54','f55_59','f60_61','f62_64','f65_66','f67_69','f70_74','f75_79','f80_84','f85+','StateFIPS','ind']
    femaledec=pd.DataFrame(columns=col_names, data=femaledec.json()[1:])
    femaledec['Estimate'] = '20{}'.format(i) 
    female_appended.append(femaledec)
    
female_appended = pd.concat(female_appended)
femaledec = female_appended
print('Your API call is completed')

Your API call is completed

In [82]:
femaledec.head()

,County,GEOID,ftotal,fu5,f5_9,f10_14,f15_17,f18_19,f20,f21,f22_24,f25_29,f30_34,f35_39,f40_44,f45_49,f50_54,f55_59,f60_61,f62_64,f65_66,f67_69,f70_74,f75_79,f80_84,f85+,StateFIPS,ind,Estimate
0,"Anderson County, Tennessee",0500000US47001,37321,1950,2284,2383,1467,796,378,348,1130,2067,2380,2758,2844,2873,2646,2109,719,1055,657,1010,1743,1628,1101,995,47,001,2000
1,"Bedford County, Tennessee",0500000US47003,18941,1397,1335,1273,776,485,255,251,724,1344,1313,1445,1370,1175,1190,1012,346,472,299,396,668,580,415,420,47,003,2000
2,"Benton County, Tennessee",0500000US47005,8531,421,543,511,319,179,83,85,243,437,511,597,647,579,619,544,241,255,179,272,417,350,250,249,47,005,2000
3,"Bledsoe County, Tennessee",0500000US47007,5596,345,363,382,208,113,53,62,203,331,392,433,441,396,453,331,131,154,102,138,211,179,103,72,47,007,2000
4,"Blount County, Tennessee",0500000US47009,54596,3032,3369,3403,1985,1332,613,646,1752,3390,3827,4286,4332,4118,3840,3238,1089,1489,974,1269,2075,1964,1355,1218,47,009,2000

Merge:

In [67]:
#create a function that performs a list comprehension of the columns ending with the suffix that the merge gives duplicates
def drop_y(df):
    # list comprehension of the cols that end with '_y'
    to_drop = [x for x in df if x.endswith('_y')]
    df.drop(to_drop, axis=1, inplace=True)

In [68]:
acs = pd.merge(male19, female19, how = 'inner', on = 'GEOID', suffixes = ('', '_y'))
drop_y(acs)

In [83]:
dec = pd.merge(maledec, femaledec, how = 'inner', on = 'GEOID', suffixes = ('', '_y'))
drop_y(dec)

In [86]:
acs.head()

,County,GEOID,total,mtotal,mu5,m5_9,m10_14,m15_17,m18_19,m20,m21,m22_24,m25_29,m30_34,m35_39,m40_44,m45_49,m50_54,m55_59,m60_61,m62_64,m65_66,m67_69,m70_74,m75_79,m80_84,m85+,StateFIPS,Estimate,ftotal,fu5,f5_9,f10_14,f15_17,f18_19,f20,f21,f22_24,f25_29,f30_34,f35_39,f40_44,f45_49,f50_54,f55_59,f60_61,f62_64,f65_66,f67_69,f70_74,f75_79,f80_84,f85+
0,"Sumner County, Tennessee",0500000US47165,183437,89689,5759,6294,6326,3930,2169,788,1188,3300,5508,5465,5823,6083,6408,6363,5861,2433,3300,2079,2647,3469,2246,1255,995,47,2019,93748,5395,6292,5788,3772,1902,931,700,3226,5646,6063,5927,6633,6570,6647,6723,2385,3298,2134,2971,4111,2845,1597,2192
1,"Trousdale County, Tennessee",0500000US47169,10231,5987,418,266,248,206,368,106,135,243,717,630,432,415,331,287,331,120,137,146,108,144,69,53,77,47,2019,4244,177,312,208,95,19,16,36,182,347,381,204,237,307,319,335,83,158,207,151,157,159,70,84
2,"Clay County, Tennessee",0500000US47027,7654,3669,157,289,168,88,46,83,67,63,182,174,215,200,257,295,296,76,160,100,118,297,193,138,7,47,2019,3985,215,234,207,192,138,21,45,53,194,167,194,213,276,300,314,130,128,56,187,281,228,156,56
3,"Shelby County, Tennessee",0500000US47157,936374,444834,33572,31264,34731,19532,11940,6730,6056,19295,35435,30905,28454,27049,27833,27785,26963,10328,16109,8804,11552,13142,8671,4649,4035,47,2019,491540,32681,31672,32534,19195,11548,5822,6696,20505,37554,33596,32108,29593,31303,31594,31603,13506,18188,9945,14594,17242,12213,8242,9606
4,"Henderson County, Tennessee",0500000US47077,27977,13721,822,1201,828,572,366,162,224,345,767,703,835,825,940,1043,946,340,589,429,423,545,456,213,147,47,2019,14256,683,855,844,583,275,208,67,493,907,809,884,891,947,992,1076,375,561,293,722,577,499,400,315

In [85]:
dec.head()

,County,GEOID,total,mtotal,mu5,m5_9,m10_14,m15_17,m18_19,m20,m21,m22_24,m25_29,m30_34,m35_39,m40_44,m45_49,m50_54,m55_59,m60_61,m62_64,m65_66,m67_69,m70_74,m75_79,m80_84,m85+,StateFIPS,ind,Estimate,ftotal,fu5,f5_9,f10_14,f15_17,f18_19,f20,f21,f22_24,f25_29,f30_34,f35_39,f40_44,f45_49,f50_54,f55_59,f60_61,f62_64,f65_66,f67_69,f70_74,f75_79,f80_84,f85+
0,"Anderson County, Tennessee",0500000US47001,71330,34009,2026,2462,2474,1489,862,375,338,1099,1954,2206,2529,2736,2636,2475,2042,687,929,515,804,1276,1110,614,371,47,001,2000,37321,1950,2284,2383,1467,796,378,348,1130,2067,2380,2758,2844,2873,2646,2109,719,1055,657,1010,1743,1628,1101,995
1,"Anderson County, Tennessee",0500000US47001,71330,34009,2026,2462,2474,1489,862,375,338,1099,1954,2206,2529,2736,2636,2475,2042,687,929,515,804,1276,1110,614,371,47,001,2000,38821,2099,2263,2251,1426,887,403,421,1116,2064,2103,2279,2533,2974,2977,2890,1083,1542,860,1097,1529,1346,1225,1453
2,"Anderson County, Tennessee",0500000US47001,75129,36308,2113,2325,2366,1621,922,425,367,1216,2000,2124,2246,2357,2728,2889,2670,1036,1349,841,1034,1311,929,766,673,47,001,2010,37321,1950,2284,2383,1467,796,378,348,1130,2067,2380,2758,2844,2873,2646,2109,719,1055,657,1010,1743,1628,1101,995
3,"Anderson County, Tennessee",0500000US47001,75129,36308,2113,2325,2366,1621,922,425,367,1216,2000,2124,2246,2357,2728,2889,2670,1036,1349,841,1034,1311,929,766,673,47,001,2010,38821,2099,2263,2251,1426,887,403,421,1116,2064,2103,2279,2533,2974,2977,2890,1083,1542,860,1097,1529,1346,1225,1453
4,"Bedford County, Tennessee",0500000US47003,37586,18645,1370,1384,1361,791,558,308,296,850,1364,1439,1383,1497,1230,1178,931,303,424,265,382,547,400,239,145,47,003,2000,18941,1397,1335,1273,776,485,255,251,724,1344,1313,1445,1370,1175,1190,1012,346,472,299,396,668,580,415,420

In [87]:
dec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 379
Data columns (total 54 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   County     380 non-null    object
 1   GEOID      380 non-null    object
 2   total      380 non-null    object
 3   mtotal     380 non-null    object
 4   mu5        380 non-null    object
 5   m5_9       380 non-null    object
 6   m10_14     380 non-null    object
 7   m15_17     380 non-null    object
 8   m18_19     380 non-null    object
 9   m20        380 non-null    object
 10  m21        380 non-null    object
 11  m22_24     380 non-null    object
 12  m25_29     380 non-null    object
 13  m30_34     380 non-null    object
 14  m35_39     380 non-null    object
 15  m40_44     380 non-null    object
 16  m45_49     380 non-null    object
 17  m50_54     380 non-null    object
 18  m55_59     380 non-null    object
 19  m60_61     380 non-null    object
 20  m62_64     380 non-null    object
 21  m65_66     380 non-null    object
 22  m67_69     380 non-null    object
 23  m70_74     380 non-null    object
 24  m75_79     380 non-null    object
 25  m80_84     380 non-null    object
 26  m85+       380 non-null    object
 27  StateFIPS  380 non-null    object
 28  ind        380 non-null    object
 29  Estimate   380 non-null    object
 30  ftotal     380 non-null    object
 31  fu5        380 non-null    object
 32  f5_9       380 non-null    object
 33  f10_14     380 non-null    object
 34  f15_17     380 non-null    object
 35  f18_19     380 non-null    object
 36  f20        380 non-null    object
 37  f21        380 non-null    object
 38  f22_24     380 non-null    object
 39  f25_29     380 non-null    object
 40  f30_34     380 non-null    object
 41  f35_39     380 non-null    object
 42  f40_44     380 non-null    object
 43  f45_49     380 non-null    object
 44  f50_54     380 non-null    object
 45  f55_59     380 non-null    object
 46  f60_61     380 non-null    object
 47  f62_64     380 non-null    object
 48  f65_66     380 non-null    object
 49  f67_69     380 non-null    object
 50  f70_74     380 non-null    object
 51  f75_79     380 non-null    object
 52  f80_84     380 non-null    object
 53  f85+       380 non-null    object
dtypes: object(54)
memory usage: 163.3+ KB

Drop the index from the API pull.

In [74]:
#drop the indices and extra state name
acs = acs.drop(columns=['ind'])
dec = dec.drop(columns=['ind'])

In [13]:
#convert all numeric columns to integers
cols = ['total','mtotal','mu5','m5_9','m10_14','m15_17','m18_19','m20','m21','m22_24','m25_29','m30_34',
        'm35_39','m40_44','m45_49','m50_54','m55_59','m60_61','m62_64','m65_66','m67_69','m70_74','m75_79',
        'm80_84','m85+','ftotal', 'fu5','f5_9','f10_14','f15_17','f18_19','f20','f21','f22_24','f25_29',
        'f30_34','f35_39','f40_44','f45_49','f50_54','f55_59','f60_61','f62_64','f65_66','f67_69','f70_74',
        'f75_79','f80_84','f85+']

age[cols]=age[cols].apply(pd.to_numeric, errors='coerce', axis=1)

Check that the last few steps were effective.

In [14]:
age.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 0 to 94
Data columns (total 52 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   County     95 non-null     object
 1   GEOID      95 non-null     object
 2   total      95 non-null     int64
 3   mtotal     95 non-null     int64
 4   mu5        95 non-null     int64
 5   m5_9       95 non-null     int64
 6   m10_14     95 non-null     int64
 7   m15_17     95 non-null     int64
 8   m18_19     95 non-null     int64
 9   m20        95 non-null     int64
 10  m21        95 non-null     int64
 11  m22_24     95 non-null     int64
 12  m25_29     95 non-null     int64
 13  m30_34     95 non-null     int64
 14  m35_39     95 non-null     int64
 15  m40_44     95 non-null     int64
 16  m45_49     95 non-null     int64
 17  m50_54     95 non-null     int64
 18  m55_59     95 non-null     int64
 19  m60_61     95 non-null     int64
 20  m62_64     95 non-null     int64
 21  m65_66     95 non-null     int64
 22  m67_69     95 non-null     int64
 23  m70_74     95 non-null     int64
 24  m75_79     95 non-null     int64
 25  m80_84     95 non-null     int64
 26  m85+       95 non-null     int64
 27  StateFIPS  95 non-null     object
 28  ftotal     95 non-null     int64
 29  fu5        95 non-null     int64
 30  f5_9       95 non-null     int64
 31  f10_14     95 non-null     int64
 32  f15_17     95 non-null     int64
 33  f18_19     95 non-null     int64
 34  f20        95 non-null     int64
 35  f21        95 non-null     int64
 36  f22_24     95 non-null     int64
 37  f25_29     95 non-null     int64
 38  f30_34     95 non-null     int64
 39  f35_39     95 non-null     int64
 40  f40_44     95 non-null     int64
 41  f45_49     95 non-null     int64
 42  f50_54     95 non-null     int64
 43  f55_59     95 non-null     int64
 44  f60_61     95 non-null     int64
 45  f62_64     95 non-null     int64
 46  f65_66     95 non-null     int64
 47  f67_69     95 non-null     int64
 48  f70_74     95 non-null     int64
 49  f75_79     95 non-null     int64
 50  f80_84     95 non-null     int64
 51  f85+       95 non-null     int64
dtypes: int64(49), object(3)
memory usage: 39.3+ KB

Create columns of totals for each one of these age groups.

In [15]:
age = age.copy()

#create totals columns for "new":
age['tu5'] = age['mu5']+age['fu5']
age['t5_9'] = age['m5_9']+age['f5_9']
age['t10_14'] = age['m10_14']+age['f10_14']
age['t15_17'] = age['m15_17']+age['f15_17']
age['t18_19'] = age['m18_19']+age['f18_19']
age['t20'] = age['m20']+age['f20']
age['t21'] = age['m21']+age['f21']
age['t22_24'] = age['m22_24']+age['f22_24']
age['t25_29'] = age['m25_29']+age['f25_29']
age['t30_34'] = age['m30_34']+age['f30_34']
age['t35_39'] = age['m35_39']+age['f35_39']
age['t40_44'] = age['m40_44']+age['f40_44']
age['t45_49'] = age['m45_49']+age['f45_49']
age['t50_54'] = age['m50_54']+age['f50_54']
age['t55_59'] = age['m55_59']+age['f55_59']
age['t60_61'] = age['m60_61']+age['f60_61']
age['t62_64'] = age['m62_64']+age['f62_64']
age['t65_66'] = age['m65_66']+age['f65_66']
age['t67_69'] = age['m67_69']+age['f67_69']
age['t70_74'] = age['m70_74']+age['f70_74']
age['t75_79'] = age['m75_79']+age['f75_79']
age['t80_84'] = age['m80_84']+age['f80_84']
age['t85+'] = age['m85+']+age['f85+']

## Create groups for analysis. Since we're looking at ageing services, it makes sense to group people into some rough "stage of life" that is predicated on services provided to them or their position in the workforce.

###### So we're going to do:  
- under 18  
- 18 - 64  
- 65+  

Note that we're also eliminating the gender divide, we can always come back and disaggregate this but it doesn't seem particularly relevant now.

In [16]:
#child
age['U18'] = age['tu5']+age['t5_9']+age['t10_14']+age['t15_17']
#18_54
age['18_54'] = age['t18_19']+age['t20']+age['t21']+age['t22_24']+age['t25_29']+age['t30_34']+age['t35_39']+age['t40_44']+age['t45_49']+age['t50_54']
age['O55'] = age['t55_59']+age['t60_61']+age['t62_64']+age['t65_66']+age['t67_69']+age['t70_74']+age['t75_79']+age['t80_84']+age['t85+']
#over 65
age['O65'] = age['t65_66']+age['t67_69']+age['t70_74']+age['t75_79']+age['t80_84']+age['t85+']

Make these groups into shares of the total.

In [17]:
age['PU18']=round(age['U18']*100/age['total'],1)
age['P18_54']=round(age['18_54']*100/age['total'],1)
age['PO55']=round(age['O55']*100/age['total'],1)
age['PO65']=round(age['O65']*100/age['total'],1)

Split the Geography into two names.

In [19]:
# Split the County column at the comma then name the new column as the first column you index into (County) and the second as State
geo = age['County'].str.split(pat = ',', expand = True)
age['County'] = geo[0]
age['State'] = geo[1]

Now we're going to split the GEOIDs.

In [20]:
age['CountyFIPS'] = age['GEOID'].str.slice(start = 9)

In [21]:
age.head()

,County,GEOID,total,mtotal,mu5,m5_9,m10_14,m15_17,m18_19,m20,...,U18,18_54,O55,O65,PU18,P18_54,PO55,PO65,State,CountyFIPS
0,Sumner County,0500000US47165,183437,89689,5759,6294,6326,3930,2169,788,...,43556,87340,52541,28541,23.7,47.6,28.6,15.6,Tennessee,47165
1,Trousdale County,0500000US47169,10231,5987,418,266,248,206,368,106,...,1930,5712,2589,1425,18.9,55.8,25.3,13.9,Tennessee,47169
2,Clay County,0500000US47027,7654,3669,157,289,168,88,46,83,...,1550,3183,2921,1817,20.3,41.6,38.2,23.7,Tennessee,47027
3,Shelby County,0500000US47157,936374,444834,33572,31264,34731,19532,11940,6730,...,235181,461801,239392,122695,25.1,49.3,25.6,13.1,Tennessee,47157
4,Henderson County,0500000US47077,27977,13721,822,1201,828,572,366,162,...,6388,12683,8906,5019,22.8,45.3,31.8,17.9,Tennessee,47077

Now we have a dataframe with the County and State names, full GEOID/FIPS, County and State FIPS, and the following datapoints:  
+ total population  
+ male totals for the most granular age groups  
+ female totals for the most granular age groups  
+ male + female for the most granular age groups  
+ total population for under 18, 18-54, 55+, and 65+ age groups  
+ percent of total population for the agove listed groups  

It's not likely that we would need this, but below you can uncomment the code to write this as a file.

In [ ]:
#to csv code

Make a separate dataframe of only the data we really need:

In [23]:
age = age[['GEOID', 'County', 'CountyFIPS', 'State', 'StateFIPS','total', 'U18', '18_54', 'O55', 'O65', 
           'PU18', 'P18_54', 'PO55',  'PO65']]

# Now duplicate the kinds of change asked for by planning

In [ ]:
data['O65percchange'] = round((data['O65'] - data['O*O65'])*100/data['O*O65'], 2)
data['taxbasepercchange'] = round((data['taxbase'] - data['O*taxbase'])*100/data['O*taxbase'], 2)
data['childpercchange'] = round((data['child'] - data['O*child'])*100/data['O*child'], 2)
data['totalpercchange'] = round((data['total']-data['O*total'])*100/data['O*total'], 2)
data['homepercchange'] = round((data['homevalue']-data['O*homevalue'])*100/data['O*homevalue'], 2)

Now change in share and real change:

In [ ]:
data['O65sharechange'] = data['PO65'] - data['O*PO65']
data['taxbasesharechange'] = data['Ptaxbase'] - data['O*Ptaxbase']
data['childsharechange'] = data['Pchild'] - data['O*Pchild']
data['O65realchange'] = data['O65'] - data['O*O65']
data['taxbaserealchange'] = data['taxbase'] - data['O*taxbase']
data['childrealchange'] = data['child'] - data['O*child']
data['totalrealchange']= data['total'] - data['O*total']
data['homerealchange'] = data['homevalue'] - data['O*homevalue']

In [ ]:
data.head()

In [ ]:
#index into where the Nashville MSA is to check the rankings out
nash = data.loc[data['County'] == 'Davidson County, Tennessee'].reset_index(drop = True)

In [ ]:
nash

In [ ]:
print("The following numbers are Nashville's percent growth in a 5 year over 5 year period for total elderly population, then the share change between the 2014 and 2019 periods:")
print('______________________________________________________________________________')
print(nash['O65percchange'])
print(nash['O65sharechange'])
print("The following number are Nashville's percent growth in a 5 year over 5 year period for total tax base population, then the share change between the 2014 and 2019 periods:")
print('______________________________________________________________________________')
print(nash['taxbasepercchange'])
print(nash['taxbasesharechange'])
print("The following number are Nashville's percent growth in a 5 year over 5 year period for total child population, then the share change between the 2014 and 2019 periods:")
print('______________________________________________________________________________')
print(nash['childpercchange'])
print(nash['childsharechange'])

In [ ]:
data.corr()

### Export

I'm going to export here and we can explore the data further in a new notebook - I want to separate prep for simplicity's sake.

In [ ]:
data.to_csv('../output/csv/agegroupshomevalue_2014_2019_county.csv', index = False)